<!--  
<div class="row">
    
    <div class="col-md-3" *ngFor="let tutor of tutors">
        <app-tutor *ngIf="searchValue === '' || tutor.name.toLowerCase().includes(searchValue)"  [tutor]="tutor">
        </app-tutor>
    </div>
        
    
</div> -->

<div class="row px-5">
    <ng-container *ngFor="let tutor of tutors">
        <div class="col-md-3" *ngIf="searchValue === '' || tutor.name.toLowerCase().includes(searchValue.toLowerCase())">
            <app-tutor [tutor]="tutor"></app-tutor>
        </div>
    </ng-container>
</div>
